@model Referance
@{
    ViewData["Title"] = "UpdateReferance";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Referans Güncelleme Sayfası</div>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            <input type="hidden" asp-for="ReferanceId" />
                            <label>Firma Bilgisi</label>
                            <input type="text" asp-for="NameSurname" class="form-control" />
                            <br />
                            <label>Çalışılan Pozisyon</label>
                            <input type="text" asp-for="Title" class="form-control" />
                            <br />                           
                            <button class="btn btn-warning">Referans Güncelle</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

